<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="style-c.css" />

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="overlay">
      <div class="overlay-content">
        <h1 class="title">Welcome to Rock Paper Scissors Game</h1>
        <button>Start</button>
      </div>
    </div>
    <!-- <div class="container"> -->
    <div class="logo">
      <img src="./assets/logo 1.png" alt="" />
    </div>
    <div class="judul-utama">
      <h4>ROCK PAPER SCISSORS</h4>
    </div>
    <div class="judul-player">
      <a>PLAYER 1</a>
    </div>
    <div id="game-control">
      <div id="player">
        <div class="gambar-batu">
          <div class="gambar-batu-player-bayangan">
            <img src="./assets/batu 1.png" alt="" />
          </div>
        </div>
        <div class="gambar-kertas">
          <div class="gambar-kertas-player-bayangan">
            <img src="./assets/kertas 1.png" alt="" />
          </div>
        </div>
        <div class="gambar-gunting">
          <div class="gambar-gunting-player-bayangan">
            <img src="./assets/gunting 1.png" alt="" />
          </div>
        </div>
      </div>
      <div id="ractangle">
        <a class="style-win">Player 1</a>
      </div>
      <h3 class="match">VS</h3>
      <div class="judul-com"><a>COM</a></div>
      <div class="gambar-batu-com">
        <div class="gambar-batu-com-bayangan">
          <img src="./assets/batu 1.png" alt="" />
        </div>
      </div>
      <div class="gambar-kertas-com">
        <div class="gambar-kertas-com-bayangan">
          <img src="./assets/kertas 1.png" alt="" />
        </div>
      </div>
      <div class="gambar-gunting-com">
        <div class="gambar-gunting-com-bayangan">
          <img src="./assets/gunting 1.png" alt="" />
        </div>
      </div>
      <div class="gambar-refresh">
        <img
          src="./assets/refresh 3.png"
          alt=""
          onClick="window.location.reload()"
        />
      </div>
    </div>
    <!-- <h2 class="judul-pemenang" style="margin-top: 200px">dfff</h2> -->
    <!-- </div> -->
    <script src="main.js"></script>
  </body>
</html>
